!!! 5
html.no-js
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Unkempt:700', rel='stylesheet', type='text/css')
    script
      var locale = '#{locale}';
    script(src='/javascripts/modernizr-2.0.6.js')
    -if (session.isLoggedIn)
      script(src='/javascripts/require.js', data-main='javascripts/views/layout/main-logged-in')
    -else
      script(src='/javascripts/require.js', data-main='javascripts/views/layout/main-logged-out')
  body
    div#wrapper
      header.clearfix
        h1
          a(href='/', title='Test.com home') Test.com
        nav
          ul
            li
              a(id='nav-help', href='/help') Help
            li
              a(id='nav-search', href='/search') Search
            li
              a(id='nav-ranking', href='/ranking') Ranking
            li
              a(id='nav-create-post', href='/post') Create new post
          - if (session.isLoggedIn)                      
            a#logout-button.login-button(id='nav-logout', href='/logout') Logout
            ///a(href='/logout') Logout            
          - else
            span#login-button.login-button(id='nav-login') Login
      
      ul#locales
        li
          a(href='/locale/en') English
        li
          a(href='/locale/jp')　日本語
      div#content.clearfix!= body
      footer.clearfix
        span © 2011 test.com
        ul          
          li
            a(id='footer-about', href="/about") About
          li
            a(id='footer-tos', href='/tos') Terms
          