!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/javascripts/main', src='/javascripts/require.js', type='text/javascript')
  body
    div#wrapper
      div#header
        //    li 
        //      p you are #{session.user.name}
        h1
          a(href='/') Test.com
        nav
          ul
            li 
              a(href="/about") About
            li
              a(href='/ranking') Ranking
            - if (session.isLoggedIn)                      
              li
                a(href='/logout') Logout
              li
                a(href='/post') create a post
            - else
              li
                a(href='/login') Login
      div#content!= body
  