h1 please enter username
form
  label username : 
  input(type='text', name='username', placeholder='your name here')
  br
  label password : 
  input(type='password', name='password')
  input(type='submit', value='submit')
