article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}
html{font-size:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0.00);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:13px;line-height:1.231}
body,button,input,select,textarea{font-family:sans-serif;color:#222}
::-moz-selection{background:#f0f;color:#fff;text-shadow:none}
::selection{background:#f0f;color:#fff;text-shadow:none}
a{color:#00e}
a:visited{color:#551a8b}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}
pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:"";content:none}
small{font-size:85%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin:1em 0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol,header ul{list-style:none;margin:0;padding:0}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
legend{border:0;*margin-left:-7px;padding:0}
label{cursor:pointer}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal;*overflow:visible}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box}
input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
input:valid,textarea:valid,input:invalid,textarea:invalid{background-color:#f0dddd}
table{border-collapse:collapse;border-spacing:0}
label{width:200px}
div{display:block}
html,body{background-color:#d6fbbd;margin:0;padding:0;height:100%}
#wrapper{width:920px;margin:auto;min-height:100%;position:relative}
#content{width:100%;padding:0;padding-bottom:80px;overflow:auto;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px}
header{height:40px;line-height:40px;}
header h1{display:inline;float:left;margin:4px 0 0;padding:0;line-height:40px}
header h1 a{font-family:'Unkempt',cursive;font-size:36px;text-decoration:none;color:#6f6f6f;}
header h1 a:visited{color:#6f6f6f}
header div{float:right;color:#999;margin:4px 0;text-align:right;font-weight:bold;font-size:1.2em;color:#e1e1e1;}
header div .login-button,header div ul{-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;padding:5px 15px 6px}
header div .login-button{background:#d04751;margin-left:9px;display:inline;text-decoration:none;position:relative;cursor:pointer;}
header div .login-button:hover{background-color:#cc070e}
header div ul{background:#4a994a;display:inline;}
header div ul li{display:inline;margin:0 1em;}
header div ul li a{text-decoration:none;color:inherit;}
header div ul li a:visited{color:inherit}
header div ul li a:hover{color:#990e16}
footer{position:absolute;bottom:0;width:100%;margin-bottom:20px;margin-top:20px;height:40px;background:#af615f;-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;line-height:40px;text-align:right;}
footer nav{float:left;padding-left:1em;height:60px;font-weight:bold;}
footer nav li{display:inline;margin:0 1em;}
footer nav li a{text-decoration:none;}
footer nav li a:hover{text-decoration:underline}
footer span{float:right;margin-right:2em}
#login-box{height:0;overflow:hidden;-webkit-transition:height .3s ease-out;-moz-transition:height .3s ease-out;-o-transition:height .3s ease-out;transition:height .3s ease-out}
.login #login-box{height:100px}
#post-content{margin:0;padding:0}
#tag-list{background:#995782;-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;margin:10px 0}
.tag-item{background:#fc9200;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;vertical-align:middle;display:inline-block;padding:12px;height:20px;margin:4px;color:#fff;position:relative;cursor:pointer;}
.tag-item.delete{opacity:.2;}
.tag-item.delete input{text-decoration:line-through;cursor:pointer}
.tag-item.delete .tag-delete{opacity:0}
.tag-item:hover{background-color:#db0d5f}
.tag-item input{display:none;background:#eb8700;border:none;width:140px}
.tag-display{font-size:100%;}
.tag-display a{text-decoration:none;font-size:1em;font-weight:bold;}
.tag-display a:hover{text-decoration:underline}
.tag-delete{display:none;width:20px;height:20px;float:right;cursor:pointer;position:absolute;top:-5px;right:-5px;background:url("/images/destroy.png") no-repeat 0 0}
#tag-edit{background:#847e82;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;display:block;float:right;text-aling:right;padding:5px 15px 6px;color:#fff;text-decoration:none;position:relative;cursor:pointer;}
#tag-edit:hover{text-decoration:underline}
#tag-create{background:#847e82;-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;padding:5px 15px 6px;margin-top:10px;display:none;color:#fff;text-decoration:none;position:relative;cursor:pointer;}
#tag-create:hover{text-decoration:underline}
.editing input{display:block}
.editing .tag-item:hover .tag-delete{display:inline-block}
.editing .tag-display{display:none}
.editing .tag-delete:hover{background-position:0 -20px}
.editing #tag-create{display:inline}
ul#post-list{background:#f5f5f5;padding:10px;margin:0;-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;list-style:none;}
ul#post-list li{padding:10px;margin:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;background:#999}
ul#post-content{list-style:none}
.button{background:#fc9200;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;display:inline-block;padding:5px 15px 6px;color:#fff;text-decoration:none;position:relative;cursor:pointer;}
.button:hover{background-color:#db0d5f}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.ir br{display:none}
.hidden{display:none;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}@media print{*{background:transparent !important;color:#000 !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}
a,a:visited{color:#444 !important;text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}